<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Write!</title>
    <script type="module" src="script.js"></script>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<template id="container">
    <div class="header" v-if="writeMode">
        <div v-if="!goodJobMode">{{ prettyTimeLeft }}</div>
        <Transition>
            <div class="copied pointer" v-show="goodJobMode && !copied" id="copy" @click="copyToClipboard">copy to clipboard</div>
        </Transition>
        <Transition>
            <div class="copied" v-show="copied">copied</div>
        </Transition>
    </div>
    <div id="main">
        <div class="pointer" id="play" v-if="!writeMode" @click="activateWriteMode">&#9658;</div>
        <Transition>
            <textarea id="input" ref="input" @keydown="resetIdle" v-show="showInput"
                      v-model="text"
                      placeholder="Type here to begin"></textarea>
        </Transition>
    </div>

    <div class="footer" v-if="!writeMode">
        Click the button to start typing. Don't stop until <span @click="cycleTime" v-model="timelLimit" class="minutes pointer">{{timeLimit/60}}</span> minutes has passed or
        else <strong>all</strong> will be lost. Good luck!
    </div>
</template>
</body>
</html>